.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    margin: 20px;
}

.info-card {
    width: 22%;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 16px;
    transition: transform 0.3s ease-in-out;
}

.info-card:hover {
    transform: scale(1.05);
}

.mat-card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

.mat-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.value {
    font-size: 32px;
    font-weight: bold;
    color: #1976d2;
}

.percentage {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-top: 8px;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

button.mat-raised-button {
    box-shadow: none;
}

button.mat-raised-button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

button.mat-raised-button.color-primary {
    background-color: #007bff;
    color: white;
}

button.mat-raised-button.color-primary:hover {
    background-color: #0056b3;
}

button.mat-raised-button.color-warn {
    background-color: #d9534f;
    color: white;
}

button.mat-raised-button.color-warn:hover {
    background-color: #c9302c;
}

.user-info {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.user-info p {
    margin: 5px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón rojo */
.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.red-button:hover {
    background-color: darkred;
}

.yellow-button {
    background-color: rgba(217, 255, 0, 0.541);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.yellow-button:hover {
    background-color: rgb(139, 95, 0);
}