<section class="section">
  <div class="container">
    <div class="content-wrapper">
      <!-- Carousel -->
      <div class="carousel">
        <div class="carousel-inner">
          <!-- Carousel items -->
          <div *ngFor="let foto of clocalizacion?.foto; let i = index" class="carousel-item" [class.hidden]="currentSlide !== i" [class.active]="currentSlide === i">
            <img [src]="foto" [alt]="'Foto de ' + clocalizacion?.nombre" class="carousel-image">
          </div>
        </div>
        <!-- Slider controls -->
        <button type="button" class="carousel-control prev" (click)="prevSlide()">
          <span class="control-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 10" fill="none">
              <path d="M5 1 1 5l4 4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
        <button type="button" class="carousel-control next" (click)="nextSlide()">
          <span class="control-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 10" fill="none">
              <path d="m1 9 4-4-4-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </button>
      </div>
      <!-- Details -->
      <div class="details">
        <h2 class="subtitle">NOMBRE DE LA CASA</h2>
        <h1 class="title">{{clocalizacion?.nombre}}</h1>
        <div class="location">
          {{clocalizacion?.ciudad}}, {{clocalizacion?.provincia}}
        </div>
        <h2 class="info-title">Información de la casa</h2>
        <br>
        <div class="info-item">
          <span>Cuartos disponibles:</span>
          <span class="info-value">{{clocalizacion?.unidades}}</span>
        </div>
        <div class="info-item">
          <span>Tiene conexión wifi:</span>
          <span class="info-value">{{clocalizacion?.wifi ? 'Sí' : 'No'}}</span>
        </div>
        <div class="info-item border-bottom">
          <span>Posee lavandería:</span>
          <span class="info-value">{{clocalizacion?.lavanderia ? 'Sí' : 'No'}}</span>
        </div>
      </div>
    </div>
  </div>
</section>